.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
    top: 150px;
  }
  
  .goomba {
    width: 100px;   
    position: absolute;
    left: 95px;
    top: 415px;
    z-index: 2;

  }
  
  .baloon {
  position: absolute;
  left: 178px;
  top: 75px;
  z-index: 3;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    z-index: 4;
    left: 200px;
    top: 110px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 255px;
    left: 430px;
  }